# Copy this file to .env (or export env vars) before running.
DEFAULT_PROJECT_NAME=REPLACE_ME
ELASTIC_PASSWORD=REPLACE_ME
ENV_VARS=REPLACE_ME
ES_PORT=REPLACE_ME
EXPOSE_MYSQL_PORT=REPLACE_ME
GOPROXY=REPLACE_ME
GREEN=REPLACE_ME
INFINITY_HTTP_PORT=REPLACE_ME
INFINITY_PSQL_PORT=REPLACE_ME
INFINITY_THRIFT_PORT=REPLACE_ME
MEM_LIMIT=REPLACE_ME
MINIO_CONSOLE_PORT=REPLACE_ME
MINIO_PASSWORD=REPLACE_ME
MINIO_PORT=REPLACE_ME
MINIO_USER=REPLACE_ME
MYSQL_PASSWORD=REPLACE_ME
NGINX_VERSION=REPLACE_ME
OB_TENANT_NAME=REPLACE_ME
OB_TENANT_PASSWORD=REPLACE_ME
OCEANBASE_DOC_DBNAME=REPLACE_ME
OCEANBASE_PORT=REPLACE_ME
OPENSEARCH_PASSWORD=REPLACE_ME
OS_PORT=REPLACE_ME
PATH=REPLACE_ME
PROJECT_NAME=REPLACE_ME
